.container {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20%;
}
.content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0;

}

.content img {
    display: flex;
   width: 400px;
   height: 300px;

}

.textContent {
    margin-left: 10px;
}


.textContent h2, .textContent p {
    margin: 5px;
}

span {
    color: rgb(103, 128, 128);
}

.postLink {
    text-decoration: none;
    color: antiquewhite;
}